/*
    review style
 */

.review {
  background: $pale-red;
  padding: 62px 0 106px;

  @include mq(md) {
    padding: 38px 0 44px;
  }

  &__content {
    position: relative;

    h3 {
      margin-bottom: 91px;

      @include mq(md) {
        margin-bottom: 25px;
      }
    }

    &-slider {

      @include mq(s) {
        max-width: 600px;
        margin: 0 auto;
      }

      &__item {
        display: flex !important;

        @include mq(s) {
          display: block !important;
        }

        figure {
          box-sizing: border-box;
          width: 50%;
          padding: 0 55px 0 45px;

          @include mq(md) {
            padding: 0 20px 0 15px;
          }

          @include mq(s) {
            width: 100%;
            padding: 0;
          }

          p {
            color: $grey;
            margin-bottom: 15px;
          }

          h6 {
            color: $dark-red;
          }

          &:first-child {

            @include mq(s) {
              margin-bottom: 33px;
            }
          }
        }
      }
    }

    &-nav {
      margin: 104px 45px 0 auto;
      max-width: 330px;
      display: flex;
      justify-content: space-between;

      @include mq(lg) {
        position: relative;
        z-index: 11;
      }

      @include mq(s) {
        max-width: 290px;
        margin: 40px auto 26px;
      }

      .prev-arrow, .next-arrow {
        width: 15px;
        height: 27px;
        background: url("../img/arrow.png") no-repeat center/cover;
        cursor: pointer;
      }

      .next-arrow {
        transform: scale(-1, 1);
      }
    }

    p.send {
      font-size: 16px;
      line-height: 16px;
      color: $pastel-red;
      text-decoration: underline;
      cursor: pointer;
      position: absolute;
      bottom: 0;
      left: 45px;

      @include mq(s) {
        position: static;
        text-align: center;
      }

      &:hover {
        text-decoration: none;
      }
    }

    &:before, &:after {
      content: "";
      display: block;
      position: absolute;
    }

    &:before {
      width: 180px;
      height: 238px;
      background: url("../img/decor.png") no-repeat center/cover;
      top: -62px;
      left: -190px;

      @include mq(lg) {
        width: 120px;
        height: 158px;
        top: -62px;
        left: 0;
      }

      @include mq(md) {
        display: none;
      }
    }

    &:after {
      width: 204px;
      height: 223px;
      background: url("../img/snow-f.png") no-repeat center/cover;
      bottom: -39px;
      right: -242px;

      @include mq(lg) {
        bottom: -36px;
        right: -76px;
      }
    }

  }
}