/*
    header style
 */

.header {
  background: url("../img/header/bg.png") no-repeat center/cover, $main-gradient;
  padding: 30px 0 288px;
  overflow: hidden;

  @include mq(md) {
    padding: 72px 0 104px;
  }

  .delivery {
    max-width: 694px;
    margin: 0 auto;
    position: relative;
    z-index: 9;

    @include mq(md) {
      display: none;
    }

    h6 {
      color: $pastel-red;

      &:nth-child(2) {

        &:before, &:after {
          background: $white;
        }
      }
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    margin-top: 52.39px;
    position: relative;

    @include mq(md) {
      margin-top: 0;
      display: block;
    }

    &-img {
      max-width: 708px;
      width: 59%;
      position: relative;

      @include mq(md) {
        width: 100%;
      }

      img.logo {
        margin-left: 25.42%;

        @include mq(s) {
          width: 60%;
          max-width: 383px;
          margin-left: 24.82%;
        }
      }

      figure {
        width: 109%;
        max-width: 769px;
        position: absolute;
        top: 139px;
        left: 0;

        @include mq(lg) {
          top: 149px;
        }

        @include mq(md) {
          position: relative;
          top: 0;
          margin-top: -60px;
        }

        @include mq(s) {
          width: 118%;
          left: -2%;
          margin-top: -50px;
        }

        @include mq(xs) {
          left: -3%;
          margin-top: -25px;
        }

        .sale {
          top: 81px;
          left: 218px;

          @include mq(xl) {
            top: 71px;
            left: 208px;
          }

          @include mq(lg) {
            top: 41px;
            left: 38px;
          }

          @include mq(md) {
            top: 81px;
            left: 218px;
          }

          @include mq(s) {
            top: 23%;
            left: 27.93%;
          }

          @include mq(xs) {
            top: 19%;
          }
        }

        img {
          width: 100%;
          position: relative;
          z-index: 9;
        }
      }
    }

    &-info {
      width: 41%;
      margin-top: 96.61px;

      @include mq(md) {
        width: 100%;
        margin-top: 19px;
        text-align: center;
        display: flex;
        flex-direction: column;
      }

      p.quote {

        @include mq(md) {
          max-width: 500px;
          margin: 0 auto;
          order: 1;
        }
      }

      .price {
        margin: 55px auto 3px;

        @include mq(md) {
          margin: 6px auto -55px;
          order: 2;
        }

        @include mq(xs) {
          margin-bottom: -40px;
        }
      }

      h6 {
        color: $white;

        @include mq(md) {
          order: 5;
        }
      }

      a.to-order {
        margin-top: 20px;

        @include mq(md) {
          margin: -25px auto 17px;
          order: 4;
        }
      }

      img.boot {
        position: absolute;
        bottom: -344px;
        right: -297px;
        z-index: 5;

        @include mq(md) {
          position: relative;
          top: 0;
          left: -2px;
          order: 3;
          width: 455px;
        }

        @include mq(xs) {
          width: 105%;
          max-width: 445px;
        }
      }
    }

    &:before, &:after {
      content: "";
      display: block;
      position: absolute;
    }

    &:before {
      width: 274px;
      height: 694px;
      background: url("../img/header/boy.png") no-repeat center/cover;
      top: -157.39px;
      left: -5px;
      z-index: 8;

      @include mq(xl) {
        left: -25px;
      }

      @include mq(lg) {
        width: 130px;
        height: 319px;
        top: -97.39px;
        left: 0;
      }

      @include mq(md) {
        top: -72px;
      }

      @include mq(s) {
        left: -12px;
      }

      @include mq(xs) {
        width: 120px;
        height: 308px;
      }
    }

    &:after {
      width: 204px;
      height: 178px;
      background: url("../img/header/decor.png") no-repeat center/cover;
      top: -97.39px;
      right: 22px;

      @include mq(lg) {
        width: 124px;
        height: 108px;
        right: 0;
      }

      @include mq(md) {
        top: -72px;
      }

      @include mq(s) {
        top: -85px;
      }
    }
  }
}